* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.bg {
  min-height: 100vh;
  padding: 3rem 6rem;
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #874086,
    #642b73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #874086,
    #642b73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* map */
.leaflet-container {
  height: 90vh;
}

@media screen and (max-width: 1150px) {
  .bg {
    padding: 2rem;
    background-image: linear-gradient(),
      url(./images/vecteezy_banner-background-full-color-purple-and-black-gradations_17396310.jpg);
  }

  /* map */
  .leaflet-container {
    height: 70vh;
  }
}

@media screen and (max-width: 650px) {
  .bg {
    padding: 1rem 1.5rem;
  }
}
